/*-----------------------------Estilo en pantallas pequeñas-----------------------------*/

@media screen and (max-width: 940px)
    {
/*------------------------Intro de contacto--------------------------*/

     .Intro{
            height: 700px;
           }

     .Intro .v-line{    
                    height:80%;
                   }
    }


/*----------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 880px)
    {
/*------------------------Intro de contacto--------------------------*/

     .Intro .Datos h2{
                      margin-left: 80px;
                     }

     .Intro .Datos p{
                     margin-left: 120px;
                    }

     .Intro .Datos .num{
                        margin-left: 120px;

                       }
    }


/*----------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 768px)
    {
/*------------------------Intro de contacto--------------------------*/

     .Intro{
            height: 750px;
           }
    
     .Intro .v-line{    
                    height:85%;
                   }
    }


/*----------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 540px)
    {
/*------------------------Intro de contacto--------------------------*/

     .Intro{
            display: block;
            width: 100%;
            height: 1100px;
           }

     .Intro .Listo{              
                   width: 100%;
                   text-align: center;
                   margin-left: 0;
                   margin-bottom: 40px;
                  }

     .Intro .Listo h1{
                      margin-left: 0px;
                     }

     .Intro .Listo p{
                     margin-top: 50px;      
                     margin-inline: 20px;
                    }

     .Intro .v-line{    
                    display: none;
                   }

     .Intro hr{
               display: block;
               margin-inline: 20px;
              }

     .Intro .Datos{           
                   width: 100%;
                  }

     .Intro .Datos h2{
                      margin-left: 20px;
                     }

     .Intro .Datos p{
                     margin-left: 80px;
                    }

     .Intro .Datos .num{
                        margin-left: 80px;
                       }

     .Intro .Datos .red-soc{
                            margin-left: 70PX;
                           }


/*---------------------Mapa---------------------*/

     .Mapa{
           height: 310PX;
          }
    }


/*----------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 415px)
    {
/*------------------------Intro de contacto--------------------------*/

     .Intro{
            height: 1300px;
           }

     .Intro .Datos .red-soc a{
                              display: block;
                              width: 140px;
                              margin-left: 30PX;
                             }
    }


/*----------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 345px)
    {
/*------------------------Intro de contacto--------------------------*/

     .Intro{
            height: 1280px;
           }
    }