/*----------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 880px)
    {
/*------------------------Evento--------------------------*/
     
     .evento h1{
                font-size: 40px;
               }
    }


/*----------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 768px)
    {
/*------------------------Imagen de Portada--------------------------*/

     .porta{
            height: 400px;
           }
    }


/*----------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 540px)
    {
/*------------------------Imagen de Portada--------------------------*/

     .porta{
            height: 210px;
           }


/*------------------------Evento--------------------------*/

.evento h1{
           font-size: 30px;
          }

.evento img{
            width: 100%;
            border-radius: 40px;
            margin-inline: 0;
           }

.evento p{
          width: 90%;
          margin-top: 30px;
          margin-inline: 5%;
          font-size: 28px;
         }
    }


/*----------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 412px)
    {
/*------------------------Carrusel de Imagenesn--------------------------*/

     .porta{
             height: 220px;
            }
    }