/*----------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 1196px)
    {
/*------------------------Albunes--------------------------*/

     .Galeria .Albun{
                     margin: 35px 15px;
                     border-width: 2px;
                    }
    }


/*----------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 880px)
    {
/*------------------------Albunes--------------------------*/

     .Galeria .Albun{
                     margin: 35px 15px;
                     border-width: 2px;
                    }
    }


/*----------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 768px)
    {
/*------------------------Imagen de Portada--------------------------*/

     .porta{
            height: 400px;
           }

/*------------------------Albunes--------------------------*/
/*
    .Galeria .Albun{
                    margin: 20px 5px;
                    border-width: 2px;
                   }*/
    }


/*----------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 540px)
    {
/*------------------------Imagen de Portada--------------------------*/
     .porta{
            height: 210px;
           }
    }


/*----------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 412px)
    {
/*------------------------Carrusel de Imagenesn--------------------------*/

     .porta{
             height: 220px;
            }
    }
