/*----------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 1196px)
    {
/*------------------------Albunes--------------------------*/
     .Galeria{
               margin-left: 200px;
             }
    }
/*----------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 880px)
    {
/*------------------------Albunes--------------------------*/
     .Galeria{
              margin: 0 48px;
             }

     .Galeria .Albun{
                     margin: 35px 15px;
                     border-width: 2px;
                    }
    }


/*----------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 768px)
    {
/*------------------------Imagen de Portada--------------------------*/

     .porta{
            height: 400px;
           }

/*------------------------Albunes--------------------------*/
        
     .Galeria{
              margin: 0 190px;
             }
    }


/*----------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 540px)
    {
/*------------------------Imagen de Portada--------------------------*/
     .porta{
            height: 210px;
           }


/*------------------------Albunes--------------------------*/

     .Galeria{
              margin: 0 71px;
             }

     .Galeria .Albun{
                     margin: 18px;
                     border-width: 2px;
                    }
    }


/*----------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 412px)
    {
/*------------------------Carrusel de Imagenesn--------------------------*/

     .porta{
             height: 220px;
            }

/*------------------------Albunes--------------------------*/
        
     .Galeria{
              margin: 0 8px;
             }
    }
