/*----------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 1197px)
    {

     .porta{
            margin-bottom: 40px;
           }
/*------------------------Albunes--------------------------*/

     .Galeria .Albun{
                     margin: 35px 15px;
                     margin-left: 152px;
                     border-width: 2px;
                    }
    }


/*----------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 880px)
    {
/*------------------------Albunes--------------------------*/

     .Galeria .Albun{
                     margin: 35px 15px;
                     margin-left: 47px;
                     border-width: 2px;
                    }
    }


/*----------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 768px)
    {
/*------------------------Imagen de Portada--------------------------*/

     .porta{
            height: 400px;
           }

/*------------------------Albunes--------------------------*/

    .Galeria .Albun{
                    margin: 20px 205px;
                    border-width: 2px;
                   }
    }


/*----------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 540px)
    {
/*------------------------Imagen de Portada--------------------------*/
     .porta{
            height: 210px;
           }


/*------------------------Albunes--------------------------*/

     .Galeria .Albun{
                     margin: 18px 90px;
                     border-width: 2px;
                    }
    }


/*----------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 412px)
    {
/*------------------------Carrusel de Imagenesn--------------------------*/

     .porta{
             height: 220px;
            }

     .Galeria .Albun{
                     margin: 18px 25px;
                     border-width: 2px;
                    }
    }
