@media screen and (max-width: 880px)
    {
/*------------------------Historia--------------------------*/

     .historia .title{
                      font-size: 35px;
                      margin-top: 80px;
                      margin-bottom: 20px;
                     }

     .historia .text1{
                      margin-bottom: 60px;
                     }

     .historia .text2{
                      margin-bottom: 60px;
                     }

     .historia hr{
                  margin: 0px 20px;
                 }
    }



/*----------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 768px)
    {
/*------------------------Imagen de Portada--------------------------*/

      .porta{
              height: 400px;
             }
    }


/*----------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 540px)
    {
/*------------------------Imagen de Portada--------------------------*/
     .porta{
             height: 210px;
            }


/*------------------------Historia del Goju Ryu--------------------------*/


     .historia .title{
                      margin-bottom: 50px;
                     }

     .historia .text2{
                      margin-top: 60px;
                     }

     .historia .text3{
                      margin-top: 60px;
                     }


     .historia .text1 .colum-izq{
                                 width: 67%;       /* Colocamos el texto del lado isquierdo */
                                 margin-inline: 15%;
                                }
    
     .historia .text1 .colum-der{
                                 display: flex;
                                 width: 100%;
                                 text-align: center;
                                 margin-inline: 10px;
                                }

     .historia .text2 .colum-der{
                                 float: left; 
                                 width: 67%;
                                 margin-inline: 15%;
                                }
       
     .historia .text2 .colum-izq{
                                 display: flex;
                                 width: 100%;
                                 text-align: center;
                                 margin-inline: 10px;
                                }

    
     .historia .text3 .colum-izq{
                                 width: 67%;
                                 margin-inline: 15%;
                                }
       
     .historia .text3 .colum-der{
                                 display: flex;
                                 width: 100%;
                                 text-align: center;
                                 margin-inline: 10px;
                                }
    }


/*----------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 412px)
    {
/*------------------------Carrusel de Imagenesn--------------------------*/

     .porta{
             height: 220px;
            }


/*------------------------Historia del Goju Ryu--------------------------*/

    .historia .title{
                     font-size: 30px;
                    }
    }